.container {
  .background {
    background: url(image.png.png);
    background-size: cover;

    background-position-x: center;
    height: 800px;
    width: 100%;
  }
  .hero-title {
    color: white;
    font-size: 78px;
    padding-top: 250px;
    padding-left: 80px;
  }
  .for-button {
    margin-left: 90px;
    margin-top: 80px;
  }
  .for-container {
    background-color: #ff3838;
    size: 100px;
    border-radius: 45px;
    width: 200px;
    height: 70px;
    color: white;
    font-size: 20px;
    border-color: #ff3838;
  }
}
@media screen and (max-width: 600px) {
  .container {
    .first-side {
      display: flex;
      justify-content: center;
    }
    .button1-side {
      display: flex;
      justify-content: center;
    }
  }
}