.for-pic-and-write {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-right: 40px;
  margin-left: 40px;

  .pic-side {
    margin-top: 20px;
    padding: 20px;
  }
  .left {
    width: 100%;
    height: 350px;
  }
  .write-side {
    margin-top: 50px;

    font-size: 25px;
  }
  .right-write-lorem {
    color: #939393;
    font-family: "Poppins", sans-serif;
    padding: 10px;
    padding-bottom: 20px;
  }

  .how-button {
    background-color: #ff3838;
    size: 100px;
    border-radius: 45px;
    border-color: #ff3838;
    width: 200px;
    height: 70px;
    color: #fff;
    font-size: 20px;
  }
}