.footer {
  margin-top: 60px;
  display: flex;
  justify-content: center;

  .insta {
    margin: 5px;
  
}
.icons-p {
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 40px;
  color: #939393;
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 25px;
}
.privacy-div {
  display: flex;
  justify-content: center;
  margin-top: 40px;

  .privacy {
    margin: 10px;
    color: #939393;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
  }
}
.last-logo {
  margin-bottom: 50px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 600px) {
  .icons-p {
    margin-left: 0;
    margin-right: 0;
  }
}
