header {
  .header-container {
    display: flex;

    justify-content: space-between;
    align-items: center;

    background-color: white;
    height: 150px;
  }
  nav {
    display: flex;
    gap: 50px;
  }
  .nav-link {
    font-size: 20px;
    color: black;
    text-decoration: none;
  }
}
@media screen and (max-width: 600px) {
  header {
    .header-container {
      display: flex;
      flex-direction: row;
      height: 100px;
    }
    nav {
      padding-top: 30px;
      display: flex;
      flex-direction: column;
      row-gap: 0;
      padding-right: 10px;
    }
  }
}
