.grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 100px;
    padding-top: 30px;
  
    .first-side-grid {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .icon1 {
      width: 60px;
      height: 60px;
    }
    .icon1-write {
      font-size: 30px;
      padding: 10px;
      text-align: center;
    }
    .icon1-p {
      color: #939393;
      font-family: "Poppins", sans-serif;
      text-align: center;
      font-size: 20px;
      padding-bottom: 20px;
    }
  
    .icon1-b {
      background-color: #ff3838;
      size: 100px;
      border-radius: 45px;
      border-color: #ff3838;
      width: 200px;
      height: 70px;
      color: #fff;
      font-size: 20px;
    }
    .second-side-grid {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .icon2 {
      width: 60px;
      height: 60px;
    }
  
    .icon2-h1 {
      padding: 10px;
      font-size: 30px;
      text-align: center;
    }
    .icon2-p {
      color: #939393;
      font-family: "Poppins", sans-serif;
      text-align: center;
      font-size: 20px;
      padding-bottom: 20px;
    }
    .button2-side {
      padding: 30px;
    }
    .icon2-b {
      background-color: #ff3838;
      size: 100px;
      border-radius: 45px;
      border-color: #ff3838;
      width: 200px;
      height: 70px;
      color: #fff;
      font-size: 20px;
    }
  
    .icon3-write1 {
      font-size: 30px;
      padding: 10px;
      text-align: center;
    }
    .icon3-p1 {
      color: #939393;
      font-family: "Poppins", sans-serif;
      text-align: center;
      font-size: 20px;
      padding-bottom: 20px;
    }
    .icon4-h1 {
      font-size: 30px;
      padding: 10px;
      text-align: center;
    }
    .icon4-p1 {
      color: #939393;
      font-family: "Poppins", sans-serif;
      text-align: center;
      font-size: 20px;
      padding-bottom: 20px;
    }
  }
