.what-we-post {
    margin-top: 30px;
    font-size: 40px;
    text-align: center;
  }
  .what-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
    margin-left: 30px;
    margin-left: 30px;
    .image6 {
      width: 93%;
    }
    .image6-h2 {
      font-size: 35px;
      padding-top: 20px;
    }
    .image6-p {
      color: #939393;
      font-family: "Poppins", sans-serif;
  
      font-size: 25px;
    }
    .image6-button {
      padding-top: 30px;
    }
    .button-left {
      background-color: #ff3838;
      size: 100px;
      border-radius: 45px;
      border-color: #ff3838;
      width: 200px;
      height: 70px;
      color: #fff;
      font-size: 20px;
    }
}
@media screen and (max-width: 600px) {
.what-container {
    display: flex;
    flex-direction: column;
    .image6 {
      width: 100%;
    }
    .image6-h2 {
      text-align: center;
    }
    .image6-p {
      text-align: center;
    }
    .image6-button {
      display: flex;
      justify-content: center;
      padding-bottom: 20px;
    }
  }
}